<%- include('partials/header') %>

<main>
    <section class="card-grid">

        <div class="card">
            <h2>Mánudagur</h2>
            <img src="images/cod.jpg" alt="">
            <p>Þorskur í 'black garlic', hrísgrjón og salat</p>
        </div>

        <div class="card">
            <h2>Þriðjudagur</h2>
            <img src="images/chicken.jpg" alt="">
            <p>Kjúklingabitar með bulgur, salati og sítrussósu</p>
        </div>

        <div class="card">
            <h2>Miðvikudagur</h2>
            <img src="images/fish.jpg" alt="">
            <p>Fish'n chips, kartöflur, sósa og salat</p>
        </div>

        <div class="card">
            <h2>Fimmtudagur</h2>
            <img src="images/sandwich.jpg" alt="">
            <p>Grillsamloka með skinku og osti</p>
        </div>

        <div class="card">
            <h2>Mánudagur</h2>
            <img src="images/lamb.jpg" alt="">
            <p>Lambaskankar með kartöflum og brúnni sósu</p>
        </div>

    </section>
</main>

<%- include('partials/footer') %>