<%- include('partials/header') %>

<main>
    <div class="info-card">
        <img src="images/hvannalindir.jpg" alt="">
        <section>
            <h2>Almennar Upplýsingar</h2>
            <p>Hvannalindir eru gróðurvin í um 640 m hæð norðan undir Lindahrauni í skjóli af Lindafjöllum og Krepputunguhraunum að vestan og Kreppuhrygg að austan. Lindaá fellur úr suðri niður með hraunjaðrinum við Kreppuhrygg. Í Hvannalindum bætist henni Lindakvísl úr suðvestri þar sem kvíslin liðast milli gróinna bakka fram hjá stökum gíghól sem nefnist Lindakeilir.</p>
            <p>Nafn sitt fá Hvannalindir af ætihvönn sem þar dafnar óáreitt af beit. Sem gróðurvin og vistkerfi eru Hvannalindir einstæðar á Íslandi, að mestu ótruflaðar af búfjárbeit frá því að land byggðist og umkringdar af auðn á alla vegu. Mest áberandi í gróðurþekjunni eru víðiflesjur og blómleg hvannstóð við hraunjaðra og fram með lækjum. Þar sem gróskan er mest við hraunjaðrana vaxa þó aðeins 32 tegundir blómplantna. Alls hafa sést um 30 fuglategundir í Lindunum og við tjarnir sunnan þeirra. Sex tegundir mega teljast árvissir varpfuglar: Heiðagæs, hávella, rjúpa, sendlingur, óðinshani og snjótittlingur.</p>
        </section>
    </div>
</main>

<%- include('partials/footer') %>