<%- include('partials/header') %>

<main>
    <img src="images/gullfoss.jpg" alt="">
    <section>
        <h2>Almennar Upplýsingar</h2>
        <p>placeholder</p>
    </section>
</main>

<%- include('partials/footer') %>